ADDR=:8080
APP_NAME="Test app"
REDIS_DSN=redis://127.0.0.1:6379
REDIS_EXP=120
POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/postgres
SENTRY_DSN=https://asdf@sentry.io/<project_id>
ENV=debug
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:postgres@localhost:5432/postgres
GOOSE_MIGRATION_DIR=migrations
PROJECTS_BASE_URL=http://localhost:9090
PROJECTS_API_TIMEOUT=5
